<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PluginSDK"
        tools:targetApi="31">

        <meta-data
            android:name="shortx.plugin"
            android:value="true" />

        <meta-data
            android:name="shortx.plugin.name"
            android:value="Demo" />

        <meta-data
            android:name="shortx.plugin.description"
            android:value="This is a demo plugin." />

        <meta-data
            android:name="shortx.plugin.action.entry"
            android:value="shortx.pluginsdk.demo.evaluator.DemoActionEvaluator" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PluginSDK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="shortx.pluginsdk.demo.ActionPickerActivity"
            android:exported="true"
            android:label="Action name here">

            <intent-filter>
                <action android:name="shortx.action.picker" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>